mixin cards(numbers)
    -const cardStyle = {"width": "12rem","border-color":"black"}
    -const colStyle = {"display":"flex","justify-content":"center","align-items":"center"}
    -const titleStyle = {"font-size":"25px"}
    -const textStyle = {}
    each n in numbers 
        .col(style=colStyle)
            .card(style=cardStyle)
                .card-body 
                    .card-title
                        p(style=titleStyle) #{n.number}  
                    .card-text(style=textStyle)
                        p #{n.title} 

mixin cardProjet(projets)
    -const cardStyle = {"width": "15rem","border-color":"black"}
    -const colStyle = {"display":"flex","justify-content":"center","align-items":"center"}
    -const titleStyle = {"font-size":"10px"}
    -const textStyle = {"font-size":"10px","display":"flex","justify-content":"center","align-items":"center"}
    each n in projets 
        .col(style=colStyle)
            .card(style=cardStyle)
                
                -const myattributprojet={"src":"./assets/project.png", "alt":"projectimg" , "class":"card-img-top"}
                img&attributes(myattributprojet)
                .card-body 
                    .card-text(style=textStyle)
                         p #{n.title}      
                    .card-title
                        p(style=titleStyle) #{n.para}
                        .donators 
                            p.donators #{n.donator} <br> donator
                            p.dons   #{n.dons} <br>dons
                    button(class="btn btn-primary" type="button",style={"font-size": "10px"}) Donate
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Alegreya")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous")
        link(href="https://fonts.googleapis.com/css?family=Barlow:500,600,700%7CHeebo:400,500,500i,900&amp;display=fallback" rel="stylesheet")
        link(href="https://use.fontawesome.com/releases/v5.3.1/css/svg-with-js.css" rel="stylesheet")
        link(rel="stylesheet", href="index.css")
        title HAF Don
    body 
        include header
        .container-lg     
            section.intro
                .textInto 
                    .contentIntro
                        h1.title A big Title 
                        p. 
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Curabitur vel tortor purus. Donec in tincidunt dui.
                            Sed congue ut purus vel molestie.
                            Phasellus eu malesuada lacus. Integer 
                            lacinia at lectus sit amet fermentum. Curabitur sit amet 
                            laoreet ligula, at aliquet sem. Nulla facilisi. 
                            Nunc ac condimentum enim.
                        .DonateIntro  
                            button(class="btn btn-primary" type="button") Donate Now 
                            a(href="#") How it works 
                .imgIntro
                    object(data="./assets/Landscape.svg", type="image/svg+xml")
        .container(id="numbers")
            section.numbers
                h2 Numbers
                - const numbersData = [{"number":20,"title":"projects"},{"number":50,"title":"donors"},{"number":40,"title":"dons"},{"number":10,"title":"entreprise"}]
                .cards
                    .row
                        +cards(numbersData)

        .container-lg(id="todayProject")
            .container-fluid 
                h2 Todays project
                section.todayProject
                    .projectImage 
                        -const Myattributes = {"src":"./assets/project.png", "alt":"projectimg" , "class":"img-fluid"}
                        img&attributes(Myattributes)
                    .textIntro2
                        .projectText
                            h1.project-title A big title 
                            p. 
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Curabitur vel tortor purus. Donec in tincidunt dui.
                                Sed congue ut purus vel molestie
                            .slider
                                .donators 
                                    p.donator 5000 donateur
                                    p.don 6000 dons
                                .range  
                                    input(type="range", name="customRange", class="form-range" disabled)
                            .DonateIntro
                                button(class="btn btn-primary" type="button") Donate Now 
                                a(href="#") More Detail
                .container(id="numbers")
                        section.numbers
                            h2 Other Projects
                            - const ProjectData = [{"img":"./assets/project.png","title":"A big title","para":"Lorem ipsum dolor sit amet, consectetur adipiscing elit.Curabitur vel tortor purus. Donec in tincidunt dui. Sed congue ut purus vel molestie","donator":500,"dons":300},{"img":"./assets/project.png","title":"A big title","para":"Lorem ipsum dolor sit amet, consectetur adipiscing elit.Curabitur vel tortor purus. Donec in tincidunt dui. Sed congue ut purus vel molestie","donator":500,"dons":300},{"img":"./assets/project.png","title":"A big title","para":"Lorem ipsum dolor sit amet, consectetur adipiscing elit.Curabitur vel tortor purus. Donec in tincidunt dui. Sed congue ut purus vel molestie","donator":600,"dons":400}]
                            .cards
                                .row
                                    +cardProjet(ProjectData)
                            .space
                            a(href="#") Discover other Projects  >>
                .container(id="numbers")
                        section.numbers
                            h2 Our Achievements
                            .spaces
                                .box
                                    span("style"="--i:1;")
                                        -const ach1 = {"src":"./assets/projectoftheMonth.png", "alt":"projectimg" , "class":"img-fluid","width":200}
                                        img&attributes(ach1)
                                    span("style"="--i:2;")
                                        -const ach2 = {"src":"./assets/siteVisit.png", "alt":"projectimg" , "class":"img-fluid","width":200}
                                        img&attributes(ach2)
                                    span("style"="--i:3;")
                                        -const ach3 = {"src":"./assets/topRanked.png", "alt":"projectimg" , "class":"img-fluid","width":200}
                                        img&attributes(ach3)
                                    span("style"="--i:4;")
                                        -const ach4 = {"src":"./assets/topRanked.png", "alt":"projectimg" , "class":"img-fluid","width":200}
                                        img&attributes(ach4)
                                    span("style"="--i:5;")
                                        -const ach5 = {"src":"./assets/effectivee.png", "alt":"projectimg" , "class":"img-fluid","width":200}
                                        img&attributes(ach5)
                                    span("style"="--i:6;")
                                        -const ach6 = {"src":"./assets/vetted_large.png", "alt":"projectimg" , "class":"img-fluid","width":200}
                                        img&attributes(ach6)
                                    span("style"="--i:7;")
                                        -const ach7 = {"src":"./assets/badge.png", "alt":"projectimg" , "class":"img-fluid","width":200}
                                        img&attributes(ach7)
                                    span("style"="--i:8;")
                                        -const ach8 = {"src":"./assets/badge-consumer-HAf.png", "alt":"projectimg" , "class":"img-fluid","width":200}
                                        img&attributes(ach8)
        .container-lg 
            section.carbon 
                .textcarbon
                    .contentIntro
                        h1.title Do you want to become carbon neutral 
                        p. 
                            Balance your carbon footprint by helping support carbon reduction projects.
                            Use our Events Calculator to determine the unavoidable CO2 emissions for your
                            event and purchase offsets to reduce your carbon footprint
                        .DonateIntro  
                            button(class="btn btn-primary" type="button") Carbon Calculator 
                .imgcarbon   
                    -const img = {"src":"./assets/carbon.png", "alt":"carbon" , "class":"img-fluid" , "width":"800px"}
                    img&attributes(img) 

        .container-lg 
            section.goal 
                .imggoal   
                    -const imggoal = {"src":"./assets/trees.jpg", "alt":"tree" , "class":"img-fluid" , "width":"800px"}
                    img&attributes(imggoal)
                .textgoal
                    .contentIntro
                        h1.title Achieve the goal of 10M trees planted
                        p. 
                            A nation that destroys its soils destroys itself.
                            Forests are the lungs of our land,
                            purifying the air and giving fresh strength to our people
                        .DonateIntro  
                            button(class="btn btn-primary" type="button") Buy trees 
        include footer         
     
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous")